# Created by venv; see https://docs.python.org/3/library/venv.html
# Python
*.py[cod]
__pycache__/
*.so
*.pyd

# Virtual Environment
.venv/
env/
ENV/

# Configuração de Ferramentas
.mypy_cache/
.pytest_cache/
coverage.xml
*.cover
.hypothesis/
*.tox/

#images and XMLs
*.xml
*.jpg

# Text Files
*.txt

# Folders
/yolo_venv/*